.container {
    width: 500px;
    margin: 30px auto;
}

.letter {
    border: 1px solid lightgrey;
    font-size: 28px;
    padding: 5px;
}

.word {
    font-size: 32px;
    font-weight: bold;
}

.word-letter {
    margin: 5px;
}

.guessed {
    color: red;
    text-decoration: line-through;
}
